
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="alert alert-danger">Kategori Sayısı : @ViewBag.CateogoryCount</div>
<div class="alert alert-warning">Proje Sayısı : @ViewBag.ProjectCount</div>
<div class="alert alert-success">Yetenek Sayısı : @ViewBag.SkillCount</div>
<div class="alert alert-danger">Ortalama Yetenek Sayısı : @ViewBag.SkillAvgValue</div>
<div class="alert alert-warning">Son Eklenen Yetenek : @ViewBag.LastSkillTitleName</div>
<div class="alert alert-success">asp.net core proje sayısı @ViewBag.CoreCategoryProjectCount</div>
<div class="alert alert-success">toplam admin sayısı: @ViewBag.totaladmin</div>
<div class="alert alert-success">toplam referans sayısı: @ViewBag.totaltestimonial</div>
<div class="alert alert-success">toplam sosyal medya sayısı: @ViewBag.totalsocialmedia</div>
<div class="alert alert-success">toplam mesaj sayısı: @ViewBag.totalmessage</div>



